{% extends "base.html" %} 

{% block content %} 
    <h3 style="border-bottom: black 1px solid;">About</h3>
    <br>
    <p> Django Delights is an online recipe sharing website that allows users to share their favorite recipes with the world. Our mission is to provide a platform for home cooks to share their recipes and connect with other passionate foodies. We believe that everyone should have access to delicious recipes, no matter their skill level or budget. With our easy-to-use website, you can search for recipes, upload your own, rate and even comment on other users recipes</p>
    <h6 style="border-bottom: black 1px solid;">Contact Us:</h6>
    <p></p>
    <small><button><a href=mailto:"djangodelightscontact@gmail.com">Email</a></button></small>
{% endblock %}