<style>
    .account-profile-pic {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
</style>
<section class="section-content padding-y padding-x bg">
    <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="media">
                        <img src='https://django-delights.ams3.digitaloceanspaces.com/django-delights/mediafiles/{{ object.get_image }}' alt="recipe image" class="recipe-img">
                    </div>
                    <h1>{{ object.name }}</h1> 
                    <small><p style="color: grey;"><img src="{{ account.get_image }}" alt="account img" class="account-profile-pic"> By: {{object.user.username}}</p></small>
                    {% if object.user == request.user %}
                        {% if object.get_edit_url %}
                            <small>
                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                    <a href='{{ object.get_edit_url }}'>Edit</a>
                                </button>
                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                    <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click'>Delete</a> 
                                </button>
                            </small>
                        {% endif %}
                    {% endif %}
                    <p></p>
                    
                    <div hx-get='{% url "meal-toggle" recipe_id=object.id %}' hx-trigger='revealed'></div>
                    <p></p>
                    <h6>Description:</h6>
                    <p>{{ object.description }}</p>
                </div>

                <div class="col-12 col-md-6">
                    <h6>Directions</h6>
                    <p>{{ object.directions }}</p>
                    <h4>Ingredients:</h4>
                    <ul>
                        {% for ingredient in object.get_ingredients_children %}
                            <li>
                                {% if ingredient.quantity %}{{ ingredient.quantity }} {% endif %}{% if ingredient.unit %}{{ ingredient.unit|lower }}{% endif %} {{ ingredient.name|title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
            <br>
            <br>
            <div class="row">
                <div class="col-12 col-md-12" align="center">
                    {% if request.user != object.user %}
                    <form action="{% url 'recipes:submit-review' object.id %}" method="POST">
                        {% csrf_token %}
                        <h5>Write Your Review</h5>
                        <div>
                            <label>How do you rate this recipe?</label>
                            <br>
                            <div class="rate">
                                <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                <input type="radio" name="rating" id="rating9" value="4.5" required /> <label for="rating9" title="4.5" class="half"></label>
                                <input type="radio" name="rating" id="rating8" value="4" required /> <label for="rating8" title="4"></label>
                                <input type="radio" name="rating" id="rating7" value="3.5" required /> <label for="rating7" title="3.5" class="half"></label>
                                <input type="radio" name="rating" id="rating6" value="3" required /> <label for="rating6" title="3"></label>
                                <input type="radio" name="rating" id="rating5" value="2.5" required /> <label for="rating5" title="2.5" class="half"></label>
                                <input type="radio" name="rating" id="rating4" value="2" required /> <label for="rating4" title="2"></label>
                                <input type="radio" name="rating" id="rating3" value="1.5" required /> <label for="rating3" title="1.5" class="half"></label>
                                <input type="radio" name="rating" id="rating2" value="1" required /> <label for="rating2" title="1"></label>
                                <input type="radio" name="rating" id="rating1" value="0.5" required />  <label for="rating1" title="0.5" class="half"></label>
                            </div>
                            <h6>Review Title:</h6>
                            <input type="text" class="form-control" name="subject" id="subject">
                            <br>
                            <h6>Review:</h6>
                            <textarea name="review" id="review" rows="4" class="form-control"></textarea>
                            <br>
                            {% if request.user.is_authenticated %}
                            <input type="submit" class="btn btn-primary" value="Submit Review">
                            {% else %} 
                            <p>You must be logged in to post a review. <a href="{% url 'login' %}">Login now</a></p>
                            {% endif %}
                        </div>
                    </form>
                    {% endif %}
                        <hr/>
                        <header class="section-heading">
                            <h3>Customer Reviews</h3>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if average_rating < 0.5 %}-o{% elif average_rating >= 0.5 and average_rating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if average_rating < 1.5 %}-o{% elif average_rating >= 1.5 and average_rating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if average_rating < 2.5 %}-o{% elif average_rating >= 2.5 and average_rating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if average_rating < 3.5 %}-o{% elif average_rating >= 3.5 and average_rating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if average_rating < 4.5 %}-o{% elif average_rating >= 4.5 and average_rating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <span style="color: grey;">({{ rating_count }})</span>
                                    </span>
                            </div>
                        
                        </header>
                        
                        {% for review in reviews %}
                                        <article class="box mb-3">
                                            <div class="icontext w-100">
                        
                                                <div class="text">
                                                    <h6 class="mb-1" align="center">{{review.user.username}} </h6>
                                                    <small><p class="date text-muted ">{% if review.updated_at %}{{review.updated_at}}{% else %}{{ review.created_at }}{% endif %}</p></small>
                                                    <div class="rating-star">
                                                        <span>
                                                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div> <!-- icontext.// -->
                                            <div class="mt-3">
                                                <h6>{{review.subject}}</h6>
                                                <p>
                                                    {{review.review}}
                                                </p>
                                            </div>
                                        </article>
                        {% endfor %}
                </div>
    </div>

