<div id='recipe-container'>
<form action='.' method="POST" hx-post='.' hx-swap='outerHTML' hx-trigger='{% if form.instance.id %}change delay:500ms,{% endif %} submit'>
    {% csrf_token %}
    
   {% for field in form %}
   <div class='{% if field.field.required %}{{ form.required_css_class }}{%endif%}'>
    {{ field.errors }}   
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    </div>
   {% endfor %}


    <div align="center">
        <div class='htmx-indicator'>Loading...</div>
        <button align="center" class='htmx-inverted-indicator btn btn-outline-secondary btn-sm' style='margin-top:10px;' type='submit' >Save</button>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <p></p>
        <button align="center" class="btn btn-danger btn-sm"><a href='{{ object.get_delete_url }}' style="color:white;">Delete</a></button>
    </div>
</form>
</div>