<div id="ingredient-{{ object.id}}">
    {% if object.quantity %}{{ object.quantity }}{% endif %}{% if object.unit %} {{ object.unit }}{% endif %} {{ object.name }}
    <button hx-trigger='click' hx-get='{{ object.get_hx_edit_url }}' hx-target="#ingredient-{{ object.id}}" class="btn btn-outline-secondary btn-sm">Edit</button>
    
    <button class="btn btn-danger btn-sm"><a hx-post='{{ object.get_delete_url }}' hx-confirm='Delete ingredient?' hx-trigger='click' href='{{ object.get_delete_url }}'
    hx-target='#ingredient-{{ object.id }}' hx-swap='outerHTML' style="color: white;"
    >Remove</a></button>
</div>