{% extends "base.html" %}

{% block content %}
<style>
    .account-img {
        height: 125px;
        width: 125px;
        margin-bottom: 10px;
  }
    
</style>
<div align="center">
    <h1>My Recipes</h1>
    <button class="btn btn-primary"><a href='{% url "recipes:create" %}' style="color: white;">Add Recipe</a></h3></button>
</div>
<hr/>
{% for x in object_list %}
        <div class='mb-3' align="center">
            <img src="https://django-delights.ams3.digitaloceanspaces.com/django-delights/mediafiles/{{ x.get_image }}" alt="recipe image" class="rounded-circle account-img">
            <br>
            <a class='lead' href='{{ x.get_absolute_url }}'>    {{ x.name }}</a> 
            <small><p>{{ x.description }}</p></small>
            <div hx-get='{% url "meal-toggle" recipe_id=x.id %}' hx-trigger='revealed'></div>
        </div>
        <hr/>
    {% endfor %}

{% endblock content %}